@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: white;
    font-family: Roboto, arial;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}


/* navigation bar css */
.navigation {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 25px 100px 25px 100px;
}

.logo img{
    width: 80px;
    height: 50px;
}

.links {
    display: flex;
    gap: 20px;
}


/* hero css */

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px 40px 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    flex-basis: 500px;
    margin-right: 80px
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.hero-text p {
    font-size: 16px;
}

.hero-text button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: none;
}

.hero-image img {
    width: 600px;
    height: 300px;
}

/* content css */

.title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.character-boxes {
    display: flex;
    justify-content: center;
}

.image {
    width: 200px;
    height: 200px;
    margin: 0px 20px 0px 20px;
    border: 5px solid gold;
    border-radius: 10px;
}

.name {
    text-align: center;
}


/* quote css */
.quotation {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;

}

.quotation p {
    font-size: 30px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quotation b {
    text-align: right;
    padding-right: 300px;
    padding-bottom: 50px;
}

/* call to actionn css */
.blue {
    background-color: #3882F6;
    margin: 50px 280px 50px 280px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    align-items: center;
}

.action-text {
    color: #E5E7EB;
}

h3 {
    margin-bottom: 0;
}

.action-text p {
    margin-top: 0;
}

.blue button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    border-radius: 8px;
    border: 2px solid white;
    height: 40px;
    font-size: 14px;
}

/* footer css */

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 20px 0px 20px 0px;
}

/* element work */
a {
    text-decoration: none;
    color: #E5E7EB;
}